<!-- /app/research/templates/create_feed.html -->


{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="page-header">
  <h2>Feed <span class="label label-primary">sources</span></h2>

<ul class="nav nav-pills" style="float: right">
  <br>
  <li role="presentation"><a href="{{ url_for('research.TI_research_feeds') }}">TI intel</a></li>
  <li role="presentation"><a href="{{ url_for('research.SI_research_feeds') }}">SI intel</a></li>
  <li role="presentation"><a href="{{ url_for('research.VT_hunt_research_feeds') }}">VT hunt</a></li>
</ul>

</div>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('research.list_feeds') }}">Feed source list</a></li>
  <li role="presentation" class="active"><a href="{{ url_for('research.new_feed') }}">New/edit feed source</a></li>
</ul>

<h1>New feed</h1>
<form class="form-signin" role="form" method="post" action="">
<div class="lead"></div>
  {{ form.csrf_token }}
  <p>
    {{ wtf.form_field(form.feedsrc, placeholder="feed source") }}
  </p>
  <p>
    {{ form.sourceconfidence.label }}: 
    {{ wtf.form_field(form.sourceconfidence) }}
  </p>
  <p>
    {{ form.feedsource_type.label }}: 
    {{ wtf.form_field(form.feedsource_type) }}
  </p>

  <button class="btn btn-md btn-success" type="submit">Submit</button>
  <br>
  <br>
</form>

{% endblock %}