#openbuttons {
display: inline-block;
padding: 6px 12px;
margin-bottom: 30px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 20px;
}
thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
background-color: #919191
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}

#priority {
	width: 125px;
}
#status {
	width: 125px;
}
#notes {
	height: 150px
}
#newlinei{
	height: 300px;
}
#name{
	width: 400px;
}
#email{
	width: 400px;
}
#password{
	width: 400px;
}
#confirm{
	width: 400px;
}
#role{
	width: 100px;
}
#whitelist_field{
	height: 500px;
}
#keywordlist_field{
	height: 500px;
}
#sourceconfidence{
	width: 110px;
}
#feedsource_type{
	width: 160px;
}

footer {
    background: #292727;
    margin: 40px 0 0;
    padding: 20px 0 15px;
    width: 100%;
    color: #ccc;
}
footer a:link, footer a:visited {
    color: #ccc;
    text-decoration: none;
}
footer a:hover {
    color: #ccc;
    text-decoration: underline;
}
#footer-extra {
    background: #1c1c1c;
    padding: 10px 0;
    font-size: 11px;
    color: #999;
}
#footer-extra a:link, #footer-extra a:visited {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}
#footer-extra a:hover {
    color: #ccc;
    text-decoration: underline;
}
.center {
    text-align: center;
}
html {
    background: #1c1c1c;
}
