<!-- /app/status/templates/all_status_table.html -->

{% extends "template.html" %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url_for('status.open_status') }}">Open</a></li>
  <li><a href="{{ url_for('status.reviewing_status') }}">Reviewing</a></li>
  <li><a href="{{ url_for('status.vetted_status') }}">Vetted</a></li>
  <li><a href="{{ url_for('status.stale_status') }}">Stale</a></li>
  <li><class="active">All</a></li>
</ol>

<div class="page-header">
  <h1>Status <span class="label label-primary">ALL</span>
  </h1>
</div>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active" id="NBI">
    <input type="checkbox" autocomplete="off"> Network - Bro Intel
  </label>
  <label class="btn btn-primary active" id="NS">
    <input type="checkbox" autocomplete="off"> Network - Snort/Suricata
  </label>
  <label class="btn btn-primary active" id="BY">
    <input type="checkbox" autocomplete="off"> Binary - Yara
  </label>
  <label class="btn btn-primary active" id="MY">
    <input type="checkbox" autocomplete="off"> Memory - Yara
  </label>
</div>
<br>

<div class="row" id="bro_intel_div">
  <h3>Network -<small> BRO INTEL</small></h3>
  <div class="entries">
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th width="8%">date/time UTC</th>
        <th width="10%">status</th>
        <th width="25%">source</th>
        <th width="15%">tags</th>
        <th width="8%">priority</th>
        <th width="16%">options</th>
      </tr>
    </thead>
    <tbody>
    
    {% for o in NBI_ids %}
      <tr>
        <td>{{ o.created_date }}</td>
        <td>{{ o.status }}</td>
        <td class='info'><pre><code>{{ o.source }}</code></pre></td>
        <td>
          {% for t in o.tags %}
          <span class="label label-primary">{{ t }}</span>
          {% endfor %}
        </td>
        <td>
          {% if o.priority == '2' %}
          <h3 align="center"><span class="label label-warning">{{ o.priority }}</span></h3>
          {% elif o.priority == '1' %}
          <h3 align="center"><span class="label label-danger">{{ o.priority }}</span></h3>
          {% elif o.priority == '3' %}
          <h3 align="center"><span class="label label-success">{{ o.priority }}</span></h3>
          {% endif %}
        </td>
        <td align="center">
          <br>
            {% if o.status == 'open' %}
            <a class="btn btn-success" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_reviewing_button_status', reviewing_id = o.type_hash) }}">Review</a>
            {% endif %}
            {% if session.role == "admin" %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_vetted_status', vetted_id = o.type_hash) }}">Edit</a>
            <a class="btn btn-danger" name="openbuttons" id="openbuttons" href="{{ url_for('status.delete_vetted_status', vetted_id = o.type_hash) }}">Delete</a>
            {% else %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.view_status', view_id = o.type_hash) }}">View</a>
            {% endif %}
    {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<div class="row" id="snort_suricata_div">
  <h3>Network -<small> SNORT/SURICATA</small></h3>
  <div class="entries">
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th width="8%">date/time UTC</th>
        <th width="10%">status</th>
        <th width="25%">source</th>
        <th width="15%">tags</th>
        <th width="8%">priority</th>
        <th width="16%">options</th>
      </tr>
    </thead>
    <tbody>
    
    {% for o in NS_ids %}
      <tr>
        <td>{{ o.created_date }}</td>
        <td>{{ o.status }}</td>
        <td class='info'><pre><code>{{ o.source }}</code></pre></td>
        <td>
          {% for t in o.tags %}
          <span class="label label-primary">{{ t }}</span>
          {% endfor %}
        </td>
        <td>
          {% if o.priority == '2' %}
          <h3 align="center"><span class="label label-warning">{{ o.priority }}</span></h3>
          {% elif o.priority == '1' %}
          <h3 align="center"><span class="label label-danger">{{ o.priority }}</span></h3>
          {% elif o.priority == '3' %}
          <h3 align="center"><span class="label label-success">{{ o.priority }}</span></h3>
          {% endif %}
        </td>
        <td align="center">
          <br>
            {% if o.status == 'open' %}
            <a class="btn btn-success" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_reviewing_button_status', reviewing_id = o.type_hash) }}">Review</a>
            {% endif %}
            {% if session.role == "admin" %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_vetted_status', vetted_id = o.type_hash) }}">Edit</a>
            <a class="btn btn-danger" name="openbuttons" id="openbuttons" href="{{ url_for('status.delete_vetted_status', vetted_id = o.type_hash) }}">Delete</a>
            {% else %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.view_status', view_id = o.type_hash) }}">View</a>
            {% endif %}
    {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<div class="row" id="bin_yara_div">
  <h3>Binary -<small> YARA</small></h3>
  <div class="entries">
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th width="8%">date/time UTC</th>
        <th width="10%">status</th>
        <th width="25%">source</th>
        <th width="15%">tags</th>
        <th width="8%">priority</th>
        <th width="16%">options</th>
      </tr>
    </thead>
    <tbody>
    
    {% for o in BY_ids %}
      <tr>
        <td>{{ o.created_date }}</td>
        <td>{{ o.status }}</td>
        <td class='info'><pre><code>{{ o.source }}</code></pre></td>
        <td>
          {% for t in o.tags %}
          <span class="label label-primary">{{ t }}</span>
          {% endfor %}
        </td>
        <td>
          {% if o.priority == '2' %}
          <h3 align="center"><span class="label label-warning">{{ o.priority }}</span></h3>
          {% elif o.priority == '1' %}
          <h3 align="center"><span class="label label-danger">{{ o.priority }}</span></h3>
          {% elif o.priority == '3' %}
          <h3 align="center"><span class="label label-success">{{ o.priority }}</span></h3>
          {% endif %}
        </td>
        <td align="center">
          <br>
            {% if o.status == 'open' %}
            <a class="btn btn-success" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_reviewing_button_status', reviewing_id = o.type_hash) }}">Review</a>
            {% endif %}
            {% if session.role == "admin" %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_vetted_status', vetted_id = o.type_hash) }}">Edit</a>
            <a class="btn btn-danger" name="openbuttons" id="openbuttons" href="{{ url_for('status.delete_vetted_status', vetted_id = o.type_hash) }}">Delete</a>
            {% else %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.view_status', view_id = o.type_hash) }}">View</a>
            {% endif %}
    {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<div class="row" id="mem_yara_div">
  <h3>Memory -<small> YARA</small></h3>
  <div class="entries">
  <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th width="8%">date/time UTC</th>
        <th width="10%">status</th>
        <th width="25%">source</th>
        <th width="15%">tags</th>
        <th width="8%">priority</th>
        <th width="16%">options</th>
      </tr>
    </thead>
    <tbody>
    
    {% for o in MY_ids %}
      <tr>
        <td>{{ o.created_date }}</td>
        <td>{{ o.status }}</td>
        <td class='info'><pre><code>{{ o.source }}</code></pre></td>
        <td>
          {% for t in o.tags %}
          <span class="label label-primary">{{ t }}</span>
          {% endfor %}
        </td>
        <td>
          {% if o.priority == '2' %}
          <h3 align="center"><span class="label label-warning">{{ o.priority }}</span></h3>
          {% elif o.priority == '1' %}
          <h3 align="center"><span class="label label-danger">{{ o.priority }}</span></h3>
          {% elif o.priority == '3' %}
          <h3 align="center"><span class="label label-success">{{ o.priority }}</span></h3>
          {% endif %}
        </td>
        <td align="center">
          <br>
            {% if o.status == 'open' %}
            <a class="btn btn-success" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_reviewing_button_status', reviewing_id = o.type_hash) }}">Review</a>
            {% endif %}
            {% if session.role == "admin" %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.edit_vetted_status', vetted_id = o.type_hash) }}">Edit</a>
            <a class="btn btn-danger" name="openbuttons" id="openbuttons" href="{{ url_for('status.delete_vetted_status', vetted_id = o.type_hash) }}">Delete</a>
            {% else %}
            <a class="btn btn-info" name="openbuttons" id="openbuttons" href="{{ url_for('status.view_status', view_id = o.type_hash) }}">View</a>
            {% endif %}
    {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<script type="text/javascript">
var button = document.getElementById('NBI'); 

button.onclick = function() {
    var div = document.getElementById('bro_intel_div');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

var button = document.getElementById('NS'); 

button.onclick = function() {
    var div = document.getElementById('snort_suricata_div');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

var button = document.getElementById('BY'); 

button.onclick = function() {
    var div = document.getElementById('bin_yara_div');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

var button = document.getElementById('MY'); 

button.onclick = function() {
    var div = document.getElementById('mem_yara_div');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

$(document).ready(function(){
  $('table').dataTable({
    "aaSorting": [[ 0, "desc" ]],
    "iDisplayStart": 5,
    "aLengthMenu": [[5, 10, -1], [5, 10, 'All']],
    "bPaginate":true,
    "iDisplayStart":0,
  });
});

$(document).on("click", ".btn-danger", function(e) {
  var link = $(this).attr("href"); // "get" the intended link in a var
  e.preventDefault();
  bootbox.confirm("Are you sure you want to delete?", function(result) {
  if (result) {
    document.location.href = link;  // if result, "set" the document location
                }
  });
});
</script>

{% endblock %}
