<!-- app/status/templates/edit_dt_form.html -->

{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% if e.d_type == 'Network - Bro Intel' %}
  <div class="page-header">
    <h2>Edit <span class="label label-default">Network - Bro Intel</span></h2>
  </div>
{% elif e.d_type == 'Network - Snort' %}
  <div class="page-header">
    <h2>Edit <span class="label label-warning">Network - Snort</span></h2>
  </div>
{% elif e.d_type == 'Binary - Yara' %}
  <div class="page-header">
    <h2>Edit <span class="label label-primary">Binary - Yara</span></h2>
  </div>
{% endif %}


<div class="row">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{ e.source }}</strong>
      </h3>
    </div>
  </div>
{% if e.localfile != None %}
  <form action="{{ url_for('status.download', filename = e.localfile) }}" style="display: inline;">
    <button class="btn btn-md btn-primary" input type="submit">Download original file</button>
  </form>&nbsp;&nbsp;
{% endif %}
{% if e.localtxtfile != None %}
  <form action="{{ url_for('status.download', filename = e.localtxtfile) }}" style="display: inline;">
    <button class="btn btn-md btn-primary" input type="submit">Download text file</button>
  </form>&nbsp;&nbsp;
{% endif %}
  {% if e.status == 'vetted' %}
    <form action="{{ url_for('status.jsondl', source_id = e.type_hash) }}" style="display: inline;">
      <button class="btn btn-md btn-primary" input type="submit">Download json file</button>
    </form>&nbsp;&nbsp;
    <form action="{{ url_for('status.csvdl', source_id = e.type_hash) }}" style="display: inline;">
      <button class="btn btn-md btn-primary" input type="submit">Download csv file</button>
    </form>&nbsp;&nbsp;
  {% endif %}
</div>
</div>
  <br>

  <form action="" method="post">
      {{ form.csrf_token }} 

        {{ form.priority.label }}

        {{ wtf.form_field(form.priority) }}

        {{ form.status.label }}

        {{ wtf.form_field(form.status) }}

        {{ form.strtags.label }}

        {{ wtf.form_field(form.strtags, placeholder="tags") }}

        {{ form.notes.label }}

        {{ wtf.form_field(form.notes, placeholder="notes") }}

        {% if e.d_type == 'Network - Bro Intel' %}
        <h4><span class="label label-default" data-toggle="tooltip" data-placement="top" title="Expected Bro_Intel types: FILE_HASH, ADDR, DOMAIN, EMAIL, FILENAME, URL, CERT_HASH. Format = intel_type<space>:<space>indicator. Values separated by \r\n."><b>Network - Bro Intel indicators *</b></span></h4>
        {% elif e.d_type == 'Network - Snort' %}
        <h4><span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Values separated by \r\n\r\n. Seperate snort signatures with a single space."><b>Network - Snort *</b></span></h4>
        {% elif e.d_type == 'Binary - Yara' %}
        <h4><span class="label label-primary" data-toggle="tooltip" data-placement="top" title="Values separated by \r\n}\r\n\r\n. Seperate yara signatures with a single space."><b>Binary - Yara indicators *</b></span></h4>
        {% endif %}

        {{ wtf.form_field(form.newlinei, placeholder="indicators") }}


    <div class="footer">
      <hr>
      <button class="btn btn-lg btn-success" type="submit">Save</button>
    </div>
  </form>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% endblock %}