<!-- app/create/templates/manual_NS.html -->

{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="page-header">
  <h2>Manual <span class="label label-warning">Network - Snort/Suricata</span>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('create.manual_NBI') }}">Network - Bro Intel</a></li>
  <li role="presentation" class="active"><a href="{{ url_for('create.manual_NS') }}">Network - Snort/Suricata</a></li>
  <li role="presentation"><a href="{{ url_for('create.manual_BY') }}">Binary - Yara</a></li>
  <li role="presentation"><a href="{{ url_for('create.manual_MY') }}">Memory - Yara</a></li>
</ul>

<form action="{{ url_for('create.manual_NS') }}" method="post" enctype="multipart/form-data">
<div class="lead"></div>

      {{ form.csrf_token }} 

        {{ form.source.label }}

        {{ wtf.form_field(form.source, placeholder="source") }}

        {{ form.priority.label }}

        {{ wtf.form_field(form.priority) }}

        {{ form.status.label }}

        {{ wtf.form_field(form.status) }}

        {{ form.strtags.label }}

        {{ wtf.form_field(form.strtags, placeholder="tags") }}

        {{ form.notes.label }}

        {{ wtf.form_field(form.notes, placeholder="notes") }}

        <h4><span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Values separated by \r\n\r\n. Seperate snort/suricata signatures with a single space."><b>Network - Snort/Suricata indicators *</b></span></h4>

        {{ wtf.form_field(form.newlinei, placeholder="indicators") }}


    <div class="footer">
      <hr>
      <button class="btn btn-lg btn-success" type="submit">Submit</button>
    </div>
  </form>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% endblock %}